@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic app-wide styles */
:root {
    --bg: #0f172a;
    --card: #0b1220;
    --muted: #94a3b8;
}

html,
body,
#__next {
    height: 100%;
}

body {
    @apply bg-slate-50 text-slate-900 antialiased;
}

a {
    @apply text-sky-600 hover:underline
}

.container {
    @apply max-w-4xl mx-auto px-4;
}